<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        *{padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;}
        .container{width: 100%;min-height: 100vh;padding: 20px;margin: 0 auto;}
        .ml10{margin-left: 10px;}
        .mr10{margin-right: 10px;}
        .flex-column{display: flex;flex-direction: column;}
        .flex-row{display: flex;}
        .wrap-texts{word-wrap: break-word;}
        .j-center{justify-content: center;}
        .bold{font-weight: bolder;}
        .mb4{margin-bottom: 4px;}
        .mt10{margin-top: 10px;}
        .mt50{margin-top: 50px;}
        .clr{color: black;}
        .wd300{width: 300px;}
        .red-clr{color: red;}
        .txt-cnt{text-align: center;}
        .b-o-none{border: none;outline: none;}
        .inline{display: inline;}
        .pd-10{padding: 10px;}
        .pd-5{padding: 5px;}
        .grid{display: grid;grid-template-columns: repeat(auto-fit, minmax(240px, auto));}
        .bg-blue{background-color: rgb(9, 9, 102);}
        .bg-green{background-color: rgb(37, 190, 37);}
        .green-blue-hover:hover{color: white;background-color: rgb(9, 9, 102);}
        
        .bx-sh{border-bottom: 1px solid grey;}
        .shade{color: rgba(128, 128, 128, 0.626);}
    </style>
    <title>BLOG</title>
  </head>
  <body>
    <div class="container">