<%- include('../partials/..header.ejs') %>

    <div class="container">
      <h1 class="mb4 txt-cnt pd-10">MY ARTICLES</h1>
      <div class="flex-row j-center">
      <a href="/articles" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Write Article</a>
      <a href="/articles/searchArticle" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Get Articles</a>
      <a href="/profile" class="pd-10 bg-green green-blue-hover ft-size-18 txt-cnt clr">Go to profile</a> <br>
      </div>


    </div>

    <%- include('../partials/..footer.ejs') %>